#abt-me {
  margin: 10%;
  /* border: 3px solid black; */
}

.profile {
  background-color: #a1d58f;
  padding: 5px;
  width: 250px;
  height: 250px;
  float: left;
  /* margin-left: 10%;
  justify-content: space-around; */
}

.name {
  text-align: left;
  justify-content: space-around;
}

.desc {
  text-align: left;
}

#projects {
  margin: 10%;
  /* border: 3px solid black; */
}

.artwork {
  background-color: #a1d58f;
  max-inline-size: 50%;
  /* margin: 2%; */
  justify-content: center;
  display: block;
  margin: auto;
}

.game {
  max-inline-size: 75%;
  display: block;
  justify-content: center;
  align-content: center;
}

.my-col-3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.my-col-3 .my-figure {
  display: inline-flex;
}

#socials {
  background-color: #729f62;
  display: flex;
  width: 100%;
  align-items: center;
  height: 50px;
}

.linkedin {
  position: fixed;
  align-items: center;
  color: black;
  margin-left: 2%;
}

/* scroll snap */
