main {
  margin: 70px;
  border: 3px solid black;
}

.bio {
  max-width: 720px;
  max-height: fit-content;
  text-align: center;
  border: 3px solid grey;
}

.profile {
  background-color: #a1d58f;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  float: inline-start;
  margin-left: 10%;
}

.name {
  text-align: left;
  margin-left: 30%;
}

.desc {
  margin-left: 5%;
  text-align: left;
}
