main {
  margin: 70px;
  border: 3px solid black;
}

/* .bio {
  max-width: 720px;
  max-height: fit-content;
  border: 3px solid grey;
  align-items: center;
  background-color: #758d6d;
  justify-content: center;
} */

.profile {
  background-color: #a1d58f;
  padding: 5px;
  ?max width: 250px;
  max height: 250px;
  /* float: left;
  margin-left: 10%;
  justify-content: space-around; */ 
}

.name {
  text-align: left;
}

.desc {
  margin-left: 5%;
  text-align: left;
}
